
.main .content .base-info{
    height: 80px;
}
.main .content .base-info .prop{
    float: left;
    line-height: 40px;
    width: 345px;
    text-align: right;
}
.main .content .base-info .prop label {
    font-size: 16px;
    color: gray;
}
.main .content .base-info .prop input[type='radio'] {
    height: 16px;
    width: 30px;
}
.main .content .base-info .prop input:not([type='radio']) {
    height: 25px;
    width: 240px;
}

.main .content table{
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.main .content .title{
    line-height: 30px;
    font-size: 16px;
    color: cornflowerblue;
    font-weight: 600;
}
.main .content table .add-field{
    color: green;
    font-size: 24px;
    cursor: pointer;
}
.main .content table .del-field{
    color: red;
    font-size: 24px;
    cursor: pointer;
}
.main .content table input,select{
    width: 90%;
}

.hide{
    display: none;
}

#save_service{
    /*background-color: #5599ee;*/
    /*color: white;*/
    font-size: 16px;
    border-radius: 4px;
}